

.our-blog-h1{
    font-size: 3rem;
    text-align: center;
}
.our-blog-para{
    margin-top: 1rem;
    line-height: 2rem;
    text-align: center;
    color: #9D9D9D;
}


.blog-img-container{
    width: 90%;
    margin: 6rem auto 3rem auto;
    display: flex;
    justify-content: space-between;
}
.blog-img-box{
    width: 23%;
    text-align: center;
    padding-bottom: 2.5rem;
    box-shadow: 0px 6px 10px 0px rgba(70, 67, 67, 0.227);
}
.blog-icon{
    width: 6.2rem;
    height: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 1rem auto;
    border-radius: 50%;
    background-color: #3e64ff;
}
.blog-icon span{
    font-size: 1.8rem;
    margin-top: .8rem;
    color: white;
}

.blog-h4{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.our-blog-para2{
    color: #999999;;
    line-height: 2rem;
}
.blog-para{
    color: #3e64ff;
}


/* /////////////////////////////////////contact-form-container//////////////////// */
.contact-form-container{
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.816);
}
.contact-img{
    height: 580px;
}
.contact-form {
    width: 50%;
    margin: auto 0 auto 3rem;
}
.contact-form input{
    width: 90%;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 0.2px solid rgba(173, 169, 169, 0.678);
    border-radius: .3rem;
    padding: 0 1rem;
}
.contact-form input::placeholder{
    text-transform: capitalize;
    font-size: 0.9rem;
}
.contact-form textarea{
    width: 90%;
    font-size: 1rem;
    text-transform: capitalize;
    border: 0.2px solid rgba(167, 162, 162, 0.678);
    border-radius: .3rem;
    padding: .5rem 1rem;
}

.send-button button{
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1rem 3.5rem;
    background-color: rgb(38, 104, 235);
    color: white;
    border: none;
    border-radius: 2rem;
    margin-top: 1rem;
}
.send-button button:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(38, 104, 235);
}